<mat-card [ngClass]="{'text-left': !fullWidthMode}">

    <div>  
        <img class="w-full thumnail"
            
            src="assets/1.png"/>
            <hr>
            <div class="flex">
                
                <span class="w-full">Snickers</span>            
                <span class="w-full">Snickers</span>            
                
            </div>
            <hr>
            <div class="flex ">
                <button class="precio"  routerLink="/product">{{'150' | currency}}</button>
                <span class="precio-oferta">{{'150' | currency}}</span>
            </div>
            
    </div>
</mat-card>