<mat-card class="productcard" [ngClass]="{'text-left': !fullWidthMode}">

    <div>
        <img class="w-full thumbnail" src={{product.images[0]}} />
        <hr>
        <div class="divtitulo">
            <span class="titulo w-full">{{product.title}}</span>
            <div class="divcategoria w-full">
                <span class="categoria ">#{{product.categories}}</span>
                <span *ngFor="let theme of product.themes" class="theme ">#{{theme}}</span>
            </div>
        </div>
        <hr>
        <div *ngIf=product.offerPrice class="divprecio">
            <span class="price-offer">{{product.offerPrice | currency}}</span>
            <span class="price">{{product.price | currency}}</span>
        </div>

        <div *ngIf=!product.offerPrice class="divprecio">
            <span class="price-alone">{{product.price | currency}}</span>
        </div>
    </div>
</mat-card>