.productcontainer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 4rem;
    width: 100%;
    gap: 2rem
}

.div-button-add{
    display: flex;
    
    justify-content: left;
    width: 100%;
}

.catalog-div-search{
    background-color: transparent;
    font-size: larger;
    border: none;
    width: 100%;
}

table{
    width: 100% !important;
    justify-content: center;
     border: var(--borde);
    border-radius: var(--borderRadio);
    box-shadow: var(--Sombra);
     th{
        padding: 1rem;
     }
    
}

.catalog-div-items{
    width: 100%;
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-items: center;
    
}

.catalog-div{
    display: flex;
    margin: 0rem;
    
    height: 4rem;
    width: 100%;
    border: var(--borde);
    border-radius: var(--borderRadio);
    box-shadow: var(--Sombra);
    justify-items: center;
    align-items: center;
}

.button-add{
    background: var(--color-secundario2) ;
    border: var(--borde);
    border-radius: var(--borderRadio);
    padding: 1rem;
    font-size: larger;
    font-weight: bold;
    box-shadow: var(--Sombra);
    justify-items: center;
    align-items: center;
    background-color: var(--colorAcento);
}



.thumnail {
    width: 100px;
    height: auto;
    border: var(--borde);
    border-radius: var(--borderRadio);
    box-shadow: var(--Sombra);
}



td {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}




.image-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }