.product-list {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    padding: 18px;
    justify-content: flex-start ;
    overflow-x: hidden;
  }
  
  .product-center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    
  
  }
  
  .product-item {
    flex: 0 0 auto; /* Cambia esto */
    margin: 0 0; 
    box-sizing: border-box;
    position: relative;
    
  }

  .empty {
    font-size: 100px !important; /* Ajusta el tamaño del texto */
    line-height: 100px;
    position: fixed; /* Hace que el elemento se posicione en relación con la ventana del navegador */
    top: 50%; /* Centra el elemento verticalmente */
    left: 50%; /* Centra el elemento horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición exacta del elemento */
    text-align: center; /* Alinea el texto al centro */
}

/* Para pantallas más pequeñas */
@media (max-width: 600px) {
    .product-item {
        flex: 1 0 auto; /* Cambia esto */
    }
}