<footer>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__container__logo">
                <img src="../../../assets/logo.png" alt="Ukiy0" />
            </div>

            <div class="footer__container__social">
                <img src="../../../assets/icons/twitterx.svg" />
                <img src="../../../assets/icons/instagram.svg" />
                <img src="../../../assets/icons/pinterest.svg" />
                <img src="../../../assets/icons/facebook.svg" />
            </div>

            <div class="footer__container__links">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Terms of Service</a>
                <a href="#">Privacy Policy</a>
            </div>
            <span>© UkyoClub All rights reserved.</span>
        </div>
    </div>
</footer>