<mat-toolbar class="max-w mx-auto border-x justify-between">
    <a routerLink="home" style="color: black"> UKIY0</a>
    <div class="flex navmenu">
        <button mat-icon-button>
            <mat-icon
            >local_shipping</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon
            >account_circle</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon
            [matBadge]="1"
            matBadgeSize="small"
            >shopping_cart</mat-icon>
        </button>
    </div>
    <mat-menu #menu = "matMenu" >
        <div class="divide-y divide-solid" >
            <div class="p-3">
                <div class="pb-3 flex justify-between">
                    <span class="mr-16">1 items</span>
                    <a routerLink="cart">View Cart</a>
                </div>
                
                <div class="py-3">
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                </div>
                <div class="flex justify-between py-3 font-light ">
                    Total:
                    <span class="font-bold">{{ '450' | currency}}</span>
                </div>
            </div>
            <div class="flex  justify-between">
                <button class="boton_cancelar">
                    Cancelar
                </button>
                <button class="boton_aceptar" routerLink="cart">
                    Aceptar
                </button>
            </div>
            
        </div>
    </mat-menu>
</mat-toolbar>