
<mat-toolbar class="max-w mx-auto border-x justify-between">

    <div class="navmenu-mobile">
        <a routerLink="home" class="custom-link">
            <img src="assets\logo.png"  alt="Descripción de la imagen">
        </a>    
    </div>

    <div class="navmenu-desktop">
        <a routerLink="home" class="custom-link">
            <img src="assets\logo.png"  alt="Descripción de la imagen">
        </a>    
    </div>
    
    <div class="flex navmenu-mobile" style="border-left:var(--borde) ;">
        <button mat-icon-button>
            <mat-icon
            >local_shipping</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menuac">
            <mat-icon
            >man</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon
            [matBadge]="1"
            matBadgeSize="small"
            >shopping_cart</mat-icon>
        </button>
    </div>
    <div class="navmenu-desktop" style="width: 60%; justify-content: center;">
    <li class="elements">
        <ul class="allsides-1 ">Tracking</ul>
        <ul class="allsides-1" >Catalog</ul>
        <ul class="allsides-1" >About Us</ul>
    </li>

    </div>
    <div class="navmenu-desktop" style="justify-content: right;">
        
        <ng-template #anonUser>
            <button   class="button login" (click)="OpenLogin()">
                Login
            </button>
        </ng-template>
        

        <button  *ngIf="auth.user$ | async as user; else anonUser" class="button login" [matMenuTriggerFor]="menuac">
            <mat-icon>man</mat-icon>
        </button>  
        
        <button  class="button cart" [matMenuTriggerFor]="menu" matBadge="1" matBadgeSize="medium">
            Cart
        </button>
    </div>

    <mat-menu #menuac = "matMenu" xPosition="before">
        <div>   
                <button mat-menu-item >My Orders</button>
                <button mat-menu-item >Wishlist</button>
                <button mat-menu-item (click)="LogOut()">Log Out</button>
            <ng-container *ngIf="auth.user$ | async as user">
                <button mat-menu-item admin (click)="LogOut()">Orders</button>
                <button mat-menu-item admin (click)="LogOut()">Users</button>
                <button mat-menu-item admin (click)="LogOut()">Products</button>
            </ng-container>
        </div>
    </mat-menu>
    
    <mat-menu #menu = "matMenu" >
        <div class="divide-y divide-solid" >
            <div class="p-3">
                <div class="pb-3 flex justify-between">
                    <span class="mr-16">1 items</span>
                    <a routerLink="cart">View Cart</a>
                </div>
                
                <div class="py-2">
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                    <div class="flex justify-between font-light mb-2">
                        keyborad x 1
                        <span class="font-bold">{{ '150' | currency}}</span>
                    </div>
                </div>
                <div class="flex justify-between py-3 font-light ">
                    Total:
                    <span class="font-bold">{{ '450' | currency}}</span>
                </div>
            </div>
            <div class="flex  justify-between">
                <button class="boton_cancelar">
                    Cancelar
                </button>
                <button class="boton_aceptar" routerLink="cart">
                    Aceptar
                </button>
            </div>
            
        </div>
    </mat-menu>
</mat-toolbar>