    

    <div class="productcontainer flex justify-center">
        <div class="productimg  ">
            <img class="imgshadow mb-1 mx-auto h-[500px]"
            src="https://milfshakes.es/cdn/shop/files/64ac12264eee44c51116eeb5_mockup16_3_1.webp?v=1691596141"/>
            <div class="wrapper">
                <div class="marquee">
                    <p>日本になれ </p>
                  <p>
                     - Live Japan - Be Japan - Wear Japan - UKIY0 - Live Japan - Be Japan - Wear Japan - UKIY0 -
                  </p>
                  <p>日本になれ </p>
                  <p>
                    - Live Japan - Be Japan - Wear Japan - UKIY0 - Live Japan - Be Japan - Wear Japan - UKIY0 -
                  </p>
                 
                </div>
            </div>
        </div>
        <div class="productinf">
            <div class="wrapper white">
                <div class="marquee white">
                    <p>日本になれ </p>
                  <p>
                     - Live Japan - Be Japan - Wear Japan - UKIY0 - Live Japan - Be Japan - Wear Japan - UKIY0 -
                  </p>
                  <p>日本になれ </p>
                  <p>
                    - Live Japan - Be Japan - Wear Japan - UKIY0 - Live Japan - Be Japan - Wear Japan - UKIY0 -
                  </p>
                </div>
            </div>
            <div class="info">
                <h1>UKIYO SHIRT</h1>
                <p>{{'30' | currency}}</p>
                <p>{{'25.99' | currency}}</p>
                <p>Description</p>
            </div>
            

        </div>
    </div>
