<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick-theme.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.min.js"></script>

<div class=" productglobal flex ">
  <div class="productimg  ">
    <img class="mx-auto h-[700px]" src="assets/1.png" />
    <div class="wrapper">
      <div class="marquee">
        <p>Lugia TShirt Japanese Street Wear -</p>
        <p>Lugia TShirt Japanese Street Wear -</p>
        <p>Lugia TShirt Japanese Street Wear -</p>
        <p>Lugia TShirt Japanese Street Wear -</p>
        <p>Lugia TShirt Japanese Street Wear -</p>
      </div>
    </div>
    <img class=" mx-auto h-[700px]" src="assets/3.png" />
  </div>

  <div class="productinf">
    <img class="mx-auto h-[700px]" src="assets/1.png" />

    <div class="info">
      <div class="wrapper white">
        <div class="marquee title">
          <p>Lugia TShirt -</p>
          <p>Lugia TShirt -</p>
        </div>
      </div>
      <div class="product-title">
        <h1>Lugia TShirt Japanese Street Wear</h1>
      </div>

      <div class="product-price">
        <div class="product-categoria w-full">
          <span class="categoria ">#TShirt</span>
          <span class="categoria ">#Pokemon</span>
        </div>
        <div class="product-price-div">
          <span class="span-precio">{{'30' | currency}}</span>
          <span class="span-anterior">{{'25.99' | currency}}</span>
        </div>
      </div>

      <select class="product-dropd-s">
        <!-- Itera sobre la lista de opciones y crea una opción para cada elemento -->
        <option class="product-option-s" *ngFor="let opcion of tallas" [value]="opcion">
          {{ opcion }}
        </option>
      </select>
      <select class="product-dropd-c">
        <!-- Itera sobre la lista de opciones y crea una opción para cada elemento -->
        <option class="product-option" *ngFor="let opcion of colores" [value]="opcion">
          {{ opcion }}
        </option>
      </select>
      <div class="product-descripcion">

        <span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin laoreet tortor ac dignissim placerat. Nam
          cursus augue quis augue posuere rhoncus. Etiam nec feugiat urna. Pellentesque sed congue lorem. Aliquam
          finibus, felis sit amet gravida ornare, nulla magna aliquam dui, eu dapibus odio diam facilisis purus. Nam ac
          magna nec magna lobortis congue. Curabitur mattis iaculis lorem, ut imperdiet orci vulputate ut. In arcu
          lorem, bibendum non auctor in, iaculis ut mi.
          In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur
          ridiculus mus. Vestibulum mollis in mauris quis ornare. Aliquam pharetra scelerisque mauris, eu auctor neque
          fringilla eget. Aenean nec elit faucibus, sodales elit in, facilisis purus. Suspendisse ex dui, porta ac
          fringilla vel, tincidunt eu diam. Maecenas efficitur ornare est, at venenatis quam malesuada non. Praesent
          imperdiet, dui ac feugiat posuere, risus enim tincidunt dolor, sodales pulvinar eros metus quis lectus. Duis
          sollicitudin ornare enim quis accumsan. Mauris turpis velit, dictum ac gravida vel, auctor eu orci. </span>
      </div>

      <div class="product-add">

        <button class="product-b-add">Add to Cart</button>
      </div>

    </div>


  </div>
</div>