label {

    font-family: var(--ffamiliatitulo);
    font-size: 32px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem 4rem;
    border-bottom: var(--borde);
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: var(--colorAcento);

}

.filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;


    align-items: center;
    justify-content: center;

}

.filters {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.filter {

    border-bottom: var(--borde);
    width: 100%;
    padding: 1rem;
    font-size: 18px;
}

.active {

    background-color: var(--colorAcento3);
    font-weight: 800;
    font-size: 24px;
    transition: 0.5s;
    box-shadow: var(--Sombra2);
}

button.active::before {
    content: "# ";

}

.filter:hover {
    background-color: var(--colorAcento3);
    font-weight: 800;
    font-size: 24px;
    transition: 0.5s;
    box-shadow: var(--Sombra2);

}

.filter:hover::before {
    content: "#";

}