td.product-cell {
  padding: 16px;
  display: flex;
  width: auto;
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  border-right: var(--borde);
  border-bottom: var(
    --borde
  ) !important; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
}

.cardtable {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 0px;
  box-shadow: none;
  height: 100vh;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 3rem;
    /* Asegúrate de que este valor sea al menos tan alto como la altura de .checkout */

}

.continue-div {
  border-bottom: var(--borde) !important;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4.5rem;
  border-top: var(--borde) !important;
  position: sticky;
  bottom: 0;
  
  width: 100%;
  background-color: #f8f9fa;
  z-index: 1;

}
.table-container {
  margin-bottom: 4rem; /* Ajusta este valor según la altura de tu div de checkout */
  display: flex;
  width: 100%;
}
.button-checkout {
  background-color: var(--colorAcento);
  display: flex;
  border-left: var(--borde);
  height: 4.5rem !important;
  width: 35%;
  align-items: center;
  justify-content: center;
  font-family: var(--ffamiliatitulo);
  font-size: 40px;
}

h2 {
  margin: 0;
  margin-left: 1rem;
}

img {
  min-height: 100px;
  min-width: 100px;
  max-width: 160px;
  max-height: 160px;
  border: var(--borde);
  border-radius: var(--radioBorde);
  box-shadow: var(--Sombra);
}
